[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
[mergetool]
	keepBackup = false
  prompt = false
[push]
	default = current
[core]
	editor = vim
	excludesfile = /Users/iriskuipers/.gitignore
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
  cb = !git checkout $(git branch | fzf)
  cba = !git checkout $(git branch -a | fzf)
  cl = ! git branch --merged | egrep -v '(^\\*|master)' | xargs git branch -d
  pre = ! gh pr edit $(gh pr list | fzf | awk '{print $1}')
  prv = ! gh pr view $(gh pr list | fzf | awk '{print $1}')
  prvw = ! gh pr view $(gh pr list | fzf | awk '{print $1}') --web
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
