#!/bin/sh
echo "\nRunning rubocop 🚓 💨 💨 💨\n"

declare -a ERRORS=()

for file in $(git diff --cached --name-only | grep -E '.rb')
do
	ERRORS+=("$(rubocop $file | grep -e 'C:' -e 'E:')")
done

if [[ "$ERRORS" != "" ]]; then
	echo "\n 🚨 BEE-BOP! There are some things that you need to fix before commiting!\n"
	history -p "${ERRORS[@]}"
  exit 1
fi

echo "Done! Rubocop has no complains! ✅\n"

exit 0
